{% import "scmutils.html" as utils with context %}

<style>
pre {
  tab-size: 4;
}
pre, body {
  padding-bottom: 0;
  margin-bottom: 0;
}
</style>
<div class="header-extension" style="margin-bottom: 0;">
  <div class="container-fluid">
    <span style="padding-left: 1rem">
      {{ utils.breadcrumb(repo, ref, path_parts, display_ref_prefix) }}
      <span class="text-muted" style="margin-left: 1rem">
        <span title="{{"{0:0o}".format(entry.perm)}}">
          {{stat.filemode(entry.perm)}}
        </span>
      </span>
      <span class="text-muted" style="margin-left: 1rem">
        <span title="{{ entry.size }} bytes">
          {{humanize.naturalsize(entry.size,
            binary=True).replace("Byte", "byte")}}
        </span>
      </span>
      <span class="text-muted" style="margin-left: 1rem">
        <a href="{{raw_url}}">View raw</a>
      </span>
    </span>
    {% if commit %}
    <div class="pull-right">
      <a href="{{commit.url}}">{{commit.short_id}}</a> &mdash;
      {% set author_user = lookup_user(commit.author_email) %}
      {% if author_user %}
      <a href="{{url_for("public.user_index",
        username=author_user.username)}}">{{commit.author_name}}</a>
      {% else %}
      {{commit.author_name}}
      {% endif %}
      {{commit.desc_first_line}}
      <span class="text-muted">
        {{ commit.date | date }}
      </span>
    </div>
    <div class="clearfix"></div>
    {% endif %}
  </div>
</div>
<div class="container-fluid" style="padding-left: 0; padding-right: 0;">
  <div class="row">
    {% if not entry.is_binary %}
    <div class="col-md-12 code-view">
      <pre class="ruler"><span>{% for i in range(80) %} {% endfor %}</span></pre>
      <pre class="lines">{% for line in data.split("\n") %}<a
        href="#L{{loop.index}}"
        id="L{{loop.index}}"
        >{{loop.index}}</a>{% if not loop.last %}
{% endif %}{% endfor %}</pre>
      {{ highlight_file(entry.name, entry.hash, data) }}
    </div>
    {% else %}
    <div class="col-md-12">
      <div style="padding: 1rem">
        <p>
          <span title="{{ entry.size }} bytes">
            {{humanize.naturalsize(entry.size,
              binary=True).replace("Byte", "byte")}}
          </span>
          binary file not shown.
        </p>
        <p>
          <a href="{{url_for("repo.raw_file",
              owner=repo.owner.canonical_name,
              repo=repo.name, rev=rev,
              path=path)}}" class="btn btn-primary">
            Download {{icon("caret-right")}}
          </a>
        </p>
      </div>
    </div>
    {% endif %}
</div>
