{% extends "scmbase.html" %}
{% block content %}
<div class="container">
  <div class="row">
    {% if current_user %}
    <div class="col-md-4">
      <p>
        Welcome back, {{ current_user.username }}! 
        {% block welcome_user %}{% endblock %}
      </p>
      <a href="/create" class="btn btn-primary btn-block">
        Create new repository {{icon("caret-right")}}
      </a>
    </div>
    <div class="col-md-8">
      <hr class="d-md-none" />
      {% if repos and len(repos) %}
      <div class="event-list">
        {% for repo in repos %}
        <div class="event">
          <h4>
            <a href="/~{{current_user.username}}/{{repo.name}}">
              ~{{current_user.username}}/{{repo.name}}
            </a>
            {% if repo.visibility.value != 'public' %}
            <small class="pull-right">
              {{ repo.visibility.value }}
            </small>
            {% endif %}
          </h4>
          {% if repo.description %}
          <p>{{ repo.description }}</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <a href="/~{{current_user.username}}" class="btn btn-default pull-right">
        More on your profile {{icon("caret-right")}}
      </a>
      {% endif %}
    </div>
    {% else %}
    <div class="col-md-6">
      <p>
        Welcome to {{domain}}, which is a part of the 
        <a href="{{cfg("meta.sr.ht", "origin")}}">{{cfg("sr.ht", "site-name")}} network</a>.
        {% block welcome_anon %}{% endblock %}
        If you already have an account, you can <a href="{{oauth_url}}">log in here</a>.
        New users can <a href="{{cfg("meta.sr.ht", "origin")}}">register here</a>.
      </p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
